{% extends "base.html" %}

{% block head_tittle %}
<title>Detalle Cliente</title>
{% endblock head_tittle %}

{% block main %}

<form action="">
    <table>
        <div class='d-flex'>
            <H4 class='px-4 d-flex align-items-center'>PERFIL USUARIO</H4>
        </div>
        <ul class="py-4">
            <li class="list-group-item"><strong>id: </strong>{{user.id}}</li>
            <li class="list-group-item"><strong>representante_legal: </strong>{{user.username}}</li>
            <li class="list-group-item"><strong>razon_social: </strong>{{user.email}}</li>
            <a class="btn btn-primary my-3"  href={% url "update"%}>Actualizar</a>
            <a class="btn btn-warning my-3" href={% url "cambiar_password"%}>Cambiar Contraseña</a>
        </ul>
    </table>
</form>


{% endblock main %}